<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name=".BudgetActivity"
            android:exported="false" />
        <activity
            android:name=".GuideActivity"
            android:exported="false" />
        <activity
            android:name=".home.DocumentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".home.DocumentListActivity"
            android:exported="false" />
        <activity
            android:name=".forum.SearchForumActivity"
            android:exported="false" />
        <activity
            android:name=".TaxCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".accountant.AccountantProfileActivity"
            android:exported="false" />
        <activity
            android:name=".accountant.AccountantHelpActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".messages.InboxActivity"
            android:exported="false" />
        <activity
            android:name=".messages.ArchiveActivity"
            android:exported="false" />
        <activity
            android:name=".messages.TrashActivity"
            android:exported="false" />
        <activity
            android:name=".home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".forum.PostActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".messages.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".messages.CreateMessageActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>